<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Palindrome</title>
    </head>
    <body>
        <div class="container">
        <h1 class="text-primary">Palindromes for Days!</h1>
        <form action="/true_false">
            <div class="form-group">
                <label for="input" class="text-warning">Check for a Palindrome: </label>
                <input id="input" name="input" class="form-control" type="text">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </div>
    </body>
</html>
